/* Themify Customize Styling */
body {	
	font-family: "Roboto";	font-weight:normal;
 
}
h1 {	
	font-family: "Arial", "Helvetica", sans-serif;	font-weight:100;
	font-size:95px;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #000000; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: rgba(0,0,0,0.67); 
}
body[class*="themify"] #site-logo a {	
	font-family: "Arial", "Helvetica", sans-serif;	font-weight:100;

	color: #ffffff; 
}
body[class*="themify"] #site-logo a img {		width: 197px;
	height: 64px; 
}
#site-logo {		position:relative;
 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #d5d5d5; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #aaaaaa; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #ffffff; 
}
#footerwrap {	background: none;
	background-color: #f6f6f6; 
}
#footer {	
	color: #000000; 
}
#footer a {	
	color: #000000; 
}
#footer a:hover {	
	color: #4c4c4c; 
}
@media screen and (max-width: 1280px) { /* Themify Customize Styling */
body {		font-weight:normal;
 
}
h1 {	
	font-family: "Roboto";	font-weight:500;
	font-size:5em;
 
}
.header-classic #headerwrap, #headerwrap {	background: none;
	background-color: #000000; 
}
#pagewrap #headerwrap.fixed-header, .transparent-header #pagewrap #headerwrap.fixed-header {	background: none;
	background-color: rgba(0,0,0,0.67); 
}
body[class*="themify"] #site-logo a {		font-weight:bold;

	color: #ffffff; 
}
#main-nav a, #main-nav > li > a, .transparent-header #main-nav a {	
	color: #ffffff; 
}
#main-nav-wrap #main-nav a:hover, #main-nav-wrap #main-nav > li > a:hover {	
	color: #d5d5d5; 
}
#main-nav-wrap #main-nav .current_page_item > a, #main-nav .current-menu-item > a, #main-nav > .current_page_item > a, #main-nav > .current-menu-item > a {	
	color: #aaaaaa; 
}
#main-nav-wrap #main-nav .current_page_item a:hover,  #main-nav .current-menu-item a:hover {	
	color: #ffffff; 
}
#footerwrap {	background: none;
	background-color: #f6f6f6; 
}
#footer {	
	color: #000000; 
}
#footer a {	
	color: #000000; 
}
#footer a:hover {	
	color: #4c4c4c; 
}
 }@media screen and (max-width: 768px) { /* Themify Customize Styling */
body {		font-weight:normal;
 
}
h1 {	
	font-family: "Roboto";	font-weight:500;
	font-size:4em;
 
}
body[class*="themify"] #site-logo a {		font-weight:bold;
 
}
 }@media screen and (max-width: 680px) { /* Themify Customize Styling */
body {		font-weight:normal;
 
}
h1 {	
	font-family: "Roboto";	font-weight:500;
	font-size:3.5em;
 
}
body[class*="themify"] #site-logo a {	
	font-family: "Roboto";	font-weight:bold;
 
}
 }.mobile_menu_active #headerwrap .sidemenu-on a, .mobile_menu_active #headerwrap #main-nav a, .mobile_menu_active #headerwrap #main-nav ul a { 
	color: #000000; }.mobile_menu_active #headerwrap .sidemenu-on a:hover, .mobile_menu_active #headerwrap #main-nav a:hover, .mobile_menu_active #headerwrap #main-nav ul a:hover { 
	color: #4c4c4c; }.mobile_menu_active.header-leftpane #pagewrap #headerwrap .header-icons #menu-icon, .mobile_menu_active.header-rightpane #pagewrap #headerwrap .header-icons #menu-icon, #headerwrap #menu-icon, .mobile_menu_active.header-horizontal #headerwrap #menu-icon { 
	color: #ffffff; }